<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400889311214-dm5k89m88r142ovtpod27bspqv98vsnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400889311214-dm5k89m88r142ovtpod27bspqv98vsnp</string>
	<key>API_KEY</key>
	<string>AIzaSyBSeBuCzJdpQIFJvXSMFIYAmaB_Nag7zdE</string>
	<key>GCM_SENDER_ID</key>
	<string>400889311214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.takuyaomuro.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-85904</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-85904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400889311214:ios:f05b2965ad2aac880a68ff</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-85904.firebaseio.com</string>
</dict>
</plist>